/venv
/delta
/resources
/temp
/logs
/.vscode
/results
/trainer_output
/Abgabe_2_main.ipynb
/final_submission.ipynb
/germany_filtered.csv
/glove.6B.300d.txt
/glove.6B.300d.word2vec.txt
/test.py
/test.csv
/w2v_imdb_full_d100_e500.model
/glove.6B